@media only screen and (max-width: 800px) {


    /*   For mobile:*/
    .intro {
        height: 40vh;
        bottom: 0;
        margin-left: 0;
        width: 100%;
        box-shadow: none;

        img {
            width: 100%;

        }



        p {
            margin: 1.5rem;
            font-size: 1rem;
        }

        .next {
            height: 3rem;
            width: 5rem;
            right: 2rem;
            bottom: 2rem;
            font-size: 1.5rem;
        }

    }

    .land {
        width: 70vw;
        transform: translate(-50%, -50%);
    }

    .clue {
        position: absolute;
        display: none;
        background-color: blueviolet;
        width: 90vw;
        z-index: -1;
        margin-left: 5vw;
        top: 10vh;

        h1 {
            font-size: 1.5rem;

        }

        li {
            font-size: 1rem;
        }

    }

    .gameCtrl {
        z-index: 1;
        position: absolute;
        font-size: 24px;
        right: 5vw;
        top: 5vh;
        background: rgb(102, 214, 255);
        background: linear-gradient(45deg, rgb(141, 207, 224) 0%, rgba(0, 36, 57, 1) 100%);
        cursor: pointer;
        -webkit-box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.75);

    }

    .gamecCtrlBOX {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        -webkit-box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.75);

    }

    .backcloud {
        width: 100%;
        position: absolute;
        opacity: 70%;
        top: 0;
        z-index: -2;
    }

    .control {
        width: 100vw;
        height: 10rem;
        position: absolute;
        transform: translate(-50%, 0%);
        // left: 50vw;
        bottom: 0;
        background: rgb(0, 29, 245);
        background: linear-gradient(45deg, rgba(0, 29, 245, 1) 0%, rgba(0, 36, 57, 1) 100%);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        box-shadow: none;

    }

    .slider {
        display: none;
        width: 100vw;
        height: 10rem;
        position: absolute;

        left: 0;
        transform: translate(0, 0);
        bottom: 0;
        z-index: 5;
    }

    .backgroundObj {
        width: 40vw;
    }

    .bacground {
        left: 20%;
        flex-direction: column;

    }


    .falingObject {
        position: absolute;
        display: block;
        height: 5vh;
        left: 50vw;
        transform: translateX(-50%);

        .boxForPlatform {
            position: absolute;

            .platform {
                height: 5vh;
                background: rgb(1, 92, 193);
                background: linear-gradient(0deg, rgba(1, 92, 193, 0) 0%, rgba(57, 20, 0, 1) 100%);
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .sofa {
            position: absolute;
            display: block;
            transform: translate(-120%, -80%);

            .sofaIMG {
                width: 60vw;
            }


        }

        .texstX2 {
            position: absolute;
            display: block;
            color: rgb(246, 246, 255);
            transform: translate(-50%, -50%);
            left: 50%;
            bottom: 30%;
            font-size: 4rem;
            font-weight: bold;
            -webkit-text-stroke: 3px #000000;

        }

        .chaiText {
            color: rgb(0, 0, 0);
            -webkit-text-stroke: 3px #ffffff;
        }

        .chair {
            position: absolute;
            display: block;
            transform: translate(-50%, -50%);
            width: 4rem;
        }

        @keyframes rotateChair {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }


        .dropletBox {
            position: absolute;
            display: block;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: row;
            align-items: space-around;
            justify-content: space-evenly;
            font-size: 1rem;

            .fa-droplet {
                color: rgb(8, 8, 77);
            }
        }

        .handBox {
            // display: flex;
            width: 100vw;
            height: 5vh;

            .hand1,
            .hand2 {
                position: absolute;
                display: block;
                transform: translate(-50%, -50%);
                width: 8rem;
            }
        }
    }

    .cake {
        position: relative;
        display: none;
        left: 5vw;
        animation: rotateCake 6s infinite linear;
        top: 20vh;
        width: 40vw;
        z-index: 3;
    }
}