* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background: #015cc1;
  background: -webkit-gradient(linear, left top, right top, from(rgba(1, 92, 193, 0.527048)), to(rgba(0, 212, 255, 0.490634)));
  background: linear-gradient(90deg, rgba(1, 92, 193, 0.527048) 0%, rgba(0, 212, 255, 0.490634) 100%);
}

.cake {
  position: relative;
  display: none;
  left: 40vw;
  -webkit-animation: rotateCake 6s infinite linear;
          animation: rotateCake 6s infinite linear;
  top: 20vh;
}

@-webkit-keyframes rotateCake {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateCake {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.control {
  width: 50rem;
  height: 10rem;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50vw;
  bottom: -90vh;
  background: #001df5;
  background: linear-gradient(45deg, #001df5 0%, #002439 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 5px 10px;
          box-shadow: 5px 10px;
}

.nav {
  background: #436dd6;
  font-size: 6rem;
}

.land {
  width: 60%;
  background: #015cc1;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(1, 92, 193, 0)), to(#391400));
  background: linear-gradient(0deg, rgba(1, 92, 193, 0) 0%, #391400 100%);
  height: 5vh;
  z-index: 1;
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.withoutChair,
.withChair {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 18%;
  height: 7rem;
}

.gameCtrl {
  z-index: 1;
  position: absolute;
  font-size: 48px;
  right: 15vw;
  top: 10vh;
  background: #001df5;
  background: linear-gradient(45deg, #001df5 0%, #002439 100%);
  cursor: pointer;
  -webkit-box-shadow: 5px 10px;
          box-shadow: 5px 10px;
}

.gamecCtrlBOX {
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 5px 10px;
          box-shadow: 5px 10px;
}

.topRightElem {
  height: 6rem;
  width: 7rem;
  font-size: 2rem;
  color: #232370;
}

.help {
  background-color: #ffffff;
  border: none;
}

.help:hover,
.fa-play:hover,
.fa-pause:hover {
  background-color: #436dd6;
}

.clue {
  position: absolute;
  display: none;
  background-color: blueviolet;
  width: 40vw;
  z-index: -1;
  padding: 3rem;
  margin: 4rem;
}

.clue li {
  font-size: 1.5rem;
}

.intro {
  display: block;
  position: absolute;
  background: #015cc1;
  background: -webkit-gradient(linear, left top, right top, from(#015cc1), to(#00d4ff));
  background: linear-gradient(90deg, #015cc1 0%, #00d4ff 100%);
  height: 30vh;
  bottom: 5vh;
  z-index: 1;
  margin-left: 5vw;
  width: 90vw;
  -webkit-box-shadow: 5px 10px;
          box-shadow: 5px 10px;
}

.intro .meIntro {
  position: absolute;
  display: block;
  bottom: 100%;
}

.intro p {
  margin: 3rem;
  font-size: 2rem;
}

.intro .next {
  height: 5rem;
  width: 8rem;
  position: absolute;
  right: 3rem;
  bottom: 2rem;
  font-size: 2rem;
}

.cloud {
  position: absolute;
  top: -30%;
  width: 100%;
  height: 100%;
  background-image: url("/img/cloud.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

.falingObject {
  position: absolute;
  display: block;
  height: 5vh;
  left: 50vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.falingObject .boxForPlatform {
  position: absolute;
}

.falingObject .boxForPlatform .platform {
  height: 5vh;
  background: #015cc1;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(1, 92, 193, 0)), to(#391400));
  background: linear-gradient(0deg, rgba(1, 92, 193, 0) 0%, #391400 100%);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.falingObject .sofa {
  position: absolute;
  display: block;
  -webkit-transform: translate(-170%, -80%);
          transform: translate(-170%, -80%);
}

.falingObject .sofa .sofaIMG {
  width: 40vw;
}

.falingObject .texstX2 {
  position: absolute;
  display: block;
  color: #f6f6ff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  bottom: 30%;
  font-size: 4rem;
  font-weight: bold;
  -webkit-text-stroke: 3px #000000;
}

.falingObject .chaiText {
  color: black;
  -webkit-text-stroke: 3px #ffffff;
}

.falingObject .chair {
  position: absolute;
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5rem;
}

@-webkit-keyframes rotateChair {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateChair {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.falingObject .dropletBox {
  position: absolute;
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 2rem;
}

.falingObject .dropletBox .fa-droplet {
  color: #08084d;
}

.falingObject .handBox {
  width: 100vw;
  height: 5vh;
}

.falingObject .handBox .hand1,
.falingObject .handBox .hand2 {
  position: absolute;
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 15rem;
}

.bacground {
  position: absolute;
  top: 20vh;
  width: 80vw;
  z-index: -2;
  opacity: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.backgroundObj {
  -webkit-animation: rotateCake 20s infinite linear;
          animation: rotateCake 20s infinite linear;
}

.backcloud {
  position: absolute;
  opacity: 70%;
  top: -20vh;
  z-index: -2;
}

@-webkit-keyframes bacgroundObjects {
  from {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes bacgroundObjects {
  from {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

.slider {
  position: absolute;
  bottom: 0;
  z-index: 5;
  -webkit-appearance: none;
  width: 50rem;
  height: 10rem;
  outline: none;
  opacity: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  display: none;
}

.allPictures {
  position: absolute;
  height: 1rem;
  width: 1rem;
  bottom: 10vh;
  left: 50vw;
  z-index: -5;
}

@media only screen and (max-width: 800px) {
  /*   For mobile:*/
  .intro {
    height: 40vh;
    bottom: 0;
    margin-left: 0;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .intro img {
    width: 100%;
  }
  .intro p {
    margin: 1.5rem;
    font-size: 1rem;
  }
  .intro .next {
    height: 3rem;
    width: 5rem;
    right: 2rem;
    bottom: 2rem;
    font-size: 1.5rem;
  }
  .land {
    width: 90vw;
  }
  .clue {
    position: absolute;
    display: none;
    background-color: blueviolet;
    width: 90vw;
    z-index: -1;
    margin-left: 5vw;
    top: 10vh;
  }
  .clue h1 {
    font-size: 1.5rem;
  }
  .clue li {
    font-size: 1rem;
  }
  .gameCtrl {
    z-index: 1;
    position: absolute;
    font-size: 24px;
    right: 5vw;
    top: 5vh;
    background: #66d6ff;
    background: linear-gradient(45deg, #8dcfe0 0%, #002439 100%);
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.75);
  }
  .gamecCtrlBOX {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.75);
  }
  .backcloud {
    width: 100%;
    position: absolute;
    opacity: 70%;
    top: 0;
    z-index: -2;
  }
  .control {
    width: 100vw;
    height: 10rem;
    position: absolute;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    bottom: 0;
    background: #001df5;
    background: linear-gradient(45deg, #001df5 0%, #002439 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .slider {
    display: none;
    width: 100vw;
    height: 10rem;
    position: absolute;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    bottom: 0;
    z-index: 5;
  }
  .backgroundObj {
    width: 40vw;
  }
  .bacground {
    left: 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */